body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(253, 5, 5);
    background-color: lightgray;
    
}
.texto1 {
    color: rgb(96, 255, 4);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-rendering: 2px rgb(0, 0, 0);
}

.box{
    /*definimos a largura do box*/
    width:300px;
    /* definimos a altura do box */
    height:100px;
    /* definimos a cor de fundo do box */
    background-color:#6495ed;
    /* definimos o quão arredondado irá ficar nosso box */
    border-radius: 10px 20px;
    }